<div class="container mb-4">
  <h2 id="index-header">
    <span class="surf-spot-count"><%= @spots.count %></span> surf spots around <span id="index-location"><%= @city %></span>
  </h2>
  <!--
  <div  class="flex flex-row justify-even">
    <div>
      <span>Level: </span>
      <span><%= @filters[:skill_level]%></span>
    </div>
    <div>
      <span>Radius: </span>
      <span><%= @filters[:radius]%> km</span>
    </div>
  </div>
  -->
</div>
<div class="swiper-container pb-4">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <% @spots.each_with_index do |spot, index| %>
      <div class="swiper-slide">
        <div class="flex flex-col items-center">
          <%= render 'components/spot-card-swipe', spot: spot, image_id: index > 9 ? rand(1..10) : index+1, origin: @coordinates %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="index-bg-shape"></div>
