<h1>Hello</h1>

<ul>
  <li><%= @spot.country %></li>
  <li><%= @spot.name %></li>
  <li><%= @spot.ideal_wind_direction %></li>
  <li><%= @spot.ideal_tide %></li>
  <li><%= @spot.description %></li>
  <li><%= @spot.ability_level %></li>
  <li><%= @spot.vibe %></li>
  <li><%= @spot.access %></li>
</ul>

<ul>
  <li><%= @spot.reviews.first[:title] %></li>
</ul>