<div class="show-spot-container flex flex-col items-stretch">
  <div id="spot-title"  style="background-image: linear-gradient(0deg, rgba(2,0,36,0.0) 0%, rgba(9,9,121,0) 50%, rgba(9,9,121,0.1) 65%, rgba(2,0,36,0.5) 100%), url('<%="/assets/spots/mood/#{@image_id}.jpg" %>'); background-size: cover;">
    <div class="info flex flex-col">
      <h2><%= @spot.name.gsub('-', ' ').titlecase %></h2>
      <h4><%= @spot.country %></h4>
    </div>
    <div class="spot-reco">
      <div class="spot-kpi"><%= @score_msg %> <span class="indicator"></span></div>
      <div class="spot-distance"><%= @distance %> km away</div>
    </div>
  </div>
  <div class="flex flex-row justify-between mt-4 items-stretch mx-2" id="spot-show-details">
    <div class="info">
      <div class="ratings"><span class="filled-star"><%=raw '&#9733;' * @stars %></span><span class="unfilled-star"><%=raw '&#9734;' * (5-@stars) %></span> (<%= @review_count %> reviews)</div>
      <a href="https://www.google.com/maps/dir/?api=1&origin=<%= @origin[0] %>,<%= @origin[1] %>&destination=<%= @spot.lat %>,<%= @spot.lon %>&travelmode=driving" target="_blank" >
        <div id="spot-show-directions"><%= render 'icons/direction' %> <span style="font-weight: 500;">Take me there</span></div>
      </a>
    </div>
    <div class="conditions flex flex-col items-stretch justify-even">
      <div class="condition-item flex flex-row justify-between items-baseline">
        <div><%= @conditions[:wave_height] %><span class="indicator"> m</span>
        </div>
        <%= render 'icons/wave' %>
      </div>
      <div class="condition-item flex flex-row justify-between items-baseline">
        <div><%= @conditions[:wind_speed] %><span class="indicator"> kph</span>
        </div>
        <%= render 'icons/wind' %>
      </div>
      <div class="condition-item flex flex-row justify-between items-baseline">
        <div><%= @conditions[:period] %><span class="indicator"> sec</span>
        </div>
        <%= render 'icons/period' %>
      </div>

    </div>
  </div>

  <div id="goodtoknow" class="my-3">
    <h3>Good to know</h3>
    <div class="flex flex-col">
      <div>
        <div class="title">
          <%= render 'icons/level' %>
          <span class="indicator-title mx-2">Level</span>

        </div>
        <div class="description"><%= @spot.ability_level  %></div>
      </div>

      <div>
        <div class="title">
          <%= render 'icons/vibe' %>
          <span class="indicator-title mx-2">Vibe</span>
        </div>
        <div class="description"><%= @spot.vibe  %></div>
      </div>
      <div>
        <div class="title">
          <%= render 'icons/access' %>
          <span class="indicator-title mx-2">Access</span>
        </div>
        <div class="description"><%= @spot.access  %></div>
      </div>
    </div>
  </div>
  <div id="spot-show-description">
    <h3>About <%= @spot.name.gsub('-', ' ').titlecase %></h3>
    <p>
      <%= @spot.description %>
    </p>
  </div>
  <div id="spot-show-reviews">
    <h3>Reviews:</h3>

    <div>
      <% @spot.reviews.each do |review| %>
        <div class="review-card my-3 p-3 rounded-lg">
          <div class="flex flex-row justify-between items-baseline">
            <span><%= review.user.username %></span>
            <div><span class="filled-star"><%=raw '&#9733;' * review.rating %></span><span class="unfilled-star"><%=raw '&#9734;' * (5-review.rating) %></span></div>
          </div>
          <h4><%= review.title %> </h4>
          <div class="mb-2"><%= review.description %> </div>
          <% if current_user == review.user %>
            <%= link_to "Remove",
              review_path(review),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if current_user %>
      <%= simple_form_for [ @spot, Review.new ] do |f| %>
        <%= f.input :title, placeholder: 'Amazing...'%>
        <%= f.input :description, placeholder: 'Tell us what you think' %>
        <%= f.input :rating, placeholder: '1..5' %>
        <%= f.submit "Add review", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <a href="/users/sign_in">
        Sign up
      </a>
    <% end %>
  </div>
</div>
<div id="show-bg-shape"></div>
