<h1>Hello</h1>

<ul>
  <li><%= @spot.country %></li>
  <li><%= @spot.name %></li>
  <li><%= @spot.ideal_wind_direction %></li>
  <li><%= @spot.ideal_tide %></li>
  <li><%= @spot.description %></li>
  <li><%= @spot.ability_level %></li>
  <li><%= @spot.vibe %></li>
  <li><%= @spot.access %></li>
</ul>


<h3>Reviews:</h3>
<%= simple_form_for [ @spot, Review.new ] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :rating %>
  <%= f.submit "Add review", class: "btn btn-primary" %>
<% end %>

<ul>
  <% @spot.reviews.each do |review| %>
    <li><%= review[:title] %></li>
    <% if current_user == review.user %>
      <%= link_to "Remove",
        review_path(review),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
    <% end %>
  <% end %>
</ul>
