<%= link_to spot_path(spot[:data], distance: spot[:distance], kpi: spot[:kpi])  do%>
  <div class="spot-card col p-3 my-3 rounded-lg">
    <div class="spot-weather">
      <div><%= render 'icons/water' %> <%= rand(14..22) %> °c</div>
      <div><%= render 'icons/weather/sunny' %> <%= spot[:weather][:temperature] %> °c</div>
    </div>
    <div class="spot-kpi" style="background-color: rgba(255, 255, 255, 0.8);"><%= spot[:kpi] %> <span class="indicator">%</span></div>
    <div class="spot-basics mr-2">
      <h3 class="spot-name"><%= spot[:data].name.gsub('-', ' ').titlecase %></h3>
      <div class="spot-distance"><%= spot[:distance] %> km</div>
    </div>
    <div class="spot-conditions">
      <div><%= render 'icons/wave' %><%= spot[:wave_height] %> <span class="indicator">m</span></div>
      <div><%= render 'icons/wind' %><%= spot[:wind_speed] %> <span class="indicator">kph</span></div>
      <div><%= render 'icons/period' %><%= spot[:period] %> <span class="indicator">s</span></div>
    </div>
  </div>
<%end%>