<%= link_to spot_path(spot[:data], distance: spot[:distance], kpi: spot[:kpi], image_id: image_id)  do%>
  <div class="spot-card col p-3 my-3 rounded-lg" style="background-image: linear-gradient(0deg, rgba(2,0,36,0.9) 0%, rgba(9,9,121,0.3) 50%, rgba(9,9,121,0.1) 85%, rgba(2,0,36,0.5) 100%), url('<%="/assets/spots/mood/#{image_id}.jpg" %>'); background-size: cover;">
    <div class="spot-weather">
      <div><%= render 'icons/water' %> <%= rand(18..20) %> °c</div>
      <div><%= render 'icons/weather/sunny' %> <%= spot[:weather][:temperature] %> °c</div>
    </div>
    <div class="spot-kpi" style="background-color: rgba(255, 255, 255, 0.8);"><%= spot[:kpi] %> <span class="indicator">%</span></div>
    <div class="spot-basics mr-2">
      <h3 class="spot-name"><%= spot[:data].name.gsub('-', ' ').titlecase %></h3>
      <div class="spot-distance"><%= spot[:distance] %> km</div>
    </div>
    <div class="spot-conditions">
      <div><%= render 'icons/wave' %><%= spot[:wave_height] %> <span class="indicator">m</span></div>
      <div><%= render 'icons/wind' %><%= spot[:wind_speed] %> <span class="indicator">kph</span></div>
      <div><%= render 'icons/period' %><%= spot[:period] %> <span class="indicator">s</span></div>
    </div>
  </div>
<%end%>