<!DOCTYPE html>
<html>
  <head>
    <title>Surfeasy - Find surf spots!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Surfeasy" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="www.surf-easy.com" />
    <meta property="og:image" content="<%= asset_path('cropped_banner.jpg') %>" />
    <meta property="og:description" content="Help surfers find their best waves: anytime & anywhere!" />

    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if  @header_show%>
      <%= render 'shared/header', show_share: @header_share_show %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
